@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css";

body {
  overflow-x: hidden;
  background: linear-gradient(135deg, #dbe5ff 0%, #b7c6ff 50%, #acbbff 100%);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
}

body.dark {
  background-color: #1d1d1d;
  color: #ffffff;
}

body.navbar.dark-mode {
  background-color: #2a2a2a;
}

body.dark .card {
  background-color: #2a2a2a;
  color: #ffffff;
}
h1 {
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4rem;
  color: #2a2a2a;
}
